<div class='row'>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this shopping_cart from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id='billing_address' class='col span_6'>
    <p class='info_box'>Your billing address must <b>exactly</b> match the mailing address where you receive your monthly credit card statement, or the transaction will likely be rejected.</p>

    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :required => true %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :required => true %>
    </p>
    <p>
    <%= f.label :address %>
    <%= f.text_field :billing_address, :required => true%>
    </p>
    <p>
    <%= f.label :city %>
    <%= f.text_field :billing_address_city, :required => true%>
    </p>
    <p>
    <%= f.label :state %>
    <%= f.text_field :billing_address_state, :required => true %>
    </p>
    <p>
    <%= f.label 'Zip Code' %>
    <%= f.text_field :billing_address_zip, :required => true %>
    </p>
    <p>
      <%= f.label 'Email Address' %>
      <%= f.text_field :email, :required => true %>
    </p>
    <p>
    <%= f.label 'Phone Number' %>
    <%= f.text_field :telephone, :required => true %>
    </p>
  </div>
  <div id='shipping_address' class='col span_6'>
    <p class='info_box'>Shipping available to United States and its territories only.</p>
    <p>
      <%= f.label 'Ship to Billing Address' %>
      <%= f.check_box(@ship_to_bill, {checked: false}) %>
    </p>
    <div id='shipping_form'>
    <p>
    <%= f.label :address %>
    <%= f.text_field :shipping_address, :required => true%>
    </p>
    <p>
    <%= f.label :city %>
    <%= f.text_field :shipping_address_city, :required => true%>
    </p>
    <p>
    <%= f.label :state %>
    <%= f.text_field :shipping_address_state, :required => true %>
    </p>
    <p>
    <%= f.label 'Zip Code' %>
    <%= f.text_field :shipping_address_zip, :required => true %>
    </p>
    </div>
</div>
  <div class='row registration_row'>
    <div class='col span_12 register_on_checkout'>
      <h3>Register Now <span class='smaller'>(optional)</span></h3>
      <hr>
      <p><small>Registration is optional, but it will allow you to save address information so you don't have to re-type it next time.</small></p>
      <br>
      <%= f.label 'Email' %>
      <%= text_field(:user, :email, value: @order.email) %><br>
      <br>
      <%= f.label 'Password' %>
      <%= text_field(:user, :password, placeholder: 'password...', type: :password) %>
    </div>
    <div class='col span_12 register_on_checkout'>
      <h3>Sign Up for our newsletter</h3>
    </div>
    <div class='row newsletter_signup'>
      <div class='span_12'>

      </div>
    </div>
  </div>

  <%= f.submit %>
<% end %>
<!--
    # t.integer  "customer_id"
    # t.decimal  "total",                  precision: 8, scale: 2
    # t.decimal  "shipping_cost",          precision: 8, scale: 2
    # t.decimal  "tax",                    precision: 8, scale: 2
    # t.decimal  "grand_total",            precision: 8, scale: 2
    # t.string   "status",                                         default: "Processing"
    # t.string   "first_name"
    # t.string   "last_name"
    # t.string   "company"
    # t.string   "billing_address"
    # t.string   "billing_address_city"
    # t.string   "billing_address_state"
    # t.string   "billing_address_zip"
    # t.string   "shipping_address"
    # t.string   "shipping_address_city"
    # t.string   "shipping_address_state"
    # t.string   "shipping_address_zip"
    # t.string   "telephone"
    # t.datetime "created_at"
    # t.datetime "updated_at" -->