<table class='cart_table checkout_cart'>
      <tbody>
        <tr>
          <td class="checkout_table">SIZE</td><td class="checkout_table">NAME</td><td class="checkout_table">QUANTITY</td><td class="checkout_table cost">PRICE</td>
        </tr>
        <tr>
          <td><hr></td><td><hr></td><td><hr></td><td><hr></td>
        </tr>
        <% (@current_cart || @receipt_cart).cart_items.each do |item| %>
        <%= render partial: 'cart_items/show', locals: {item: item} %>
        <% end %>
      </tbody>
    </table>
    <table class='total_table checkout_cart'>
      <tbody>
        <tr>
          <td><hr></td><td><hr></td><td><hr></td>
        </tr>
        <tr>
          <td class='size'>SUBTOTAL:</td><td class='item_name'><p></p></td><td class='cost'><%= number_to_currency(@order.total) %></td>
        </tr>
        <tr>
          <td class='size'>TAX:</td><td class='item_name'><p></p></td><td class='cost'><%= number_to_currency(@order.tax) || number_to_currency(0) %></td>
        </tr>
        <tr>
          <td class='size'>SHIPPING AND HANDLING:</td><td class='item_name'><p></p></td><td class='cost'><%= number_to_currency(0) %></td>
        </tr>
        <tr class='gtotalhide'>
          <td class='size'>GRAND TOTAL:</td><td class='item_name'><p></p></td><td class='cost'><%= number_to_currency(@order.grand_total) %></td>
        </tr>
        <tr>
          <td id='order_notes' style='display: none;'>
          </td>
        </tr>
      </tbody>
    </table>