<br>
<h1 class='checkout_header'>Thank you for your purchase <%= @order.first_name + ' ' + @order.last_name %></h1>
<br>
<div class='row final_order_list'>
  <h2 class='checkout_header'>Details for Order #<%= @order.id %></h2>
     <%= render partial: 'checkout_table', locals: {current_cart: @receipt_cart, order: @order} %>
  <br>
  <% if @order.order_notes %>
  <div class='row'>
    <% @order.order_notes.each do |note| %>
      <p>note</p>
    <% end %>
  </div>
  <% end %>
  <div class='col span_3 address_lists'>
    <h3 class='checkout_header'>Billing Address:</h3>
    <p>
      <%= @order.first_name %> <%= @order.last_name %><br>
      <%= @order.billing_address %><br>
      <%= @order.billing_address_city %>, <%= @order.billing_address_state %>, <%= @order.billing_address_zip %><br>
      T: <%= @order.telephone %><br>
    </p>
  </div>
  <div class='col span_3 address_lists'>
    <h3 class='checkout_header'>Shipping Address:</h3>
    <p>
      <%= @order.first_name %> <%= @order.last_name %><br>
      <%= @order.shipping_address %><br>
      <%= @order.shipping_address_city %>, <%= @order.shipping_address_state %>, <%= @order.shipping_address_zip %><br>
      T: <%= @order.telephone %><br>
    </p>
  </div>
  <div class='col span_3 address_lists'>
    <h3 class='checkout_header'>Shipping Details:</h3>
    <p>
      Carrier: UPS Ground<br>
      Tracking Number: 12345
    </p>
  </div>
</div>

<script>
$('.gtotalhide').css('visibility', 'visible');
</script>