<%= form_for @current_cart, :remote => true do |f| %>
  <table class='buy_form_table'>
    <tr>
    <td>
    <%= f.label :item_id %><br>
      <% array = [] %>
      <% @products.each do |prod| %>
      <% new_array = [prod.size, prod.id, { 'data' => prod.MSRP, 'sku' => prod.sku}] %>
      <% array << new_array %>
      <% end %>
    <%= select_tag 'product_id', options_for_select(array) %>
  </td>
      <%= render 'products/sizes' %>
  <td>
    <%= f.submit 'BUY NOW', :class => 'buy_button' %>
  </td>
</tr>
</table>
<% end %>