<div id='login_modal_background'>
  <%= render 'shopping_carts/proceed_modal' %>
</div>

<div id="nav" class='navbar-container'>
  <div class='row'>
    <div class="mobile_menu col span_5 search_icon">
      <form action='/search' type="get">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input id='search_form' name='keyword' type="text" required>
        <button id='search-icon' type='submit' class='inactive'><span id='search-icon-text'><i class="fa fa-search"></i>Search</span></button>
      </form>
    </div>
    <div class="col span_2 logo">
      <%= image_tag 'keytolifeheader.jpg', :class => 'logo_image' %>
    </div>
  </a>
    <div class='col span_1 emptycol'></br>
    </div>
    <div class="mobile_menu col span_1 poop logged_in">
      <% if current_user %>
        <% @name = current_user.first_name.capitalize + " " + current_user.last_name[0].upcase + "." %>
        <%= link_to @name, destroy_session_path(:user), :method => :delete, :class => 'logged_in_user' %>
      <% else %>
        <a id='log_in_sign_up_button' href='#'>Log In</a>
      <% end %>
    </div>
    <div class="mobile_menu col span_1 poop">
      <a href=''>Contact</a>
    </div>
    <div class="mobile_menu col span_1 poop cart_link">
      <% if @current_cart && @current_cart.cart_items.length > 0 %>
      <%= link_to shopping_cart_path(@current_cart) do %>Cart (<span id='cartlength'><%= render 'cart_items/num_items' %></span>)<% end %>
      <% else %>
      <a href='#'>Cart (<span id='cartlength'><%= render 'cart_items/num_items' %></span>)</a>
      <% end %>
      <div id='currentest_cart' class='current_cart'>
          <%= render 'cart_items/index' %>
      </div>
    </div>
    <div class="col span_1 navbuttons">
     <i class="social navbars fa fa-bars fa-2x"></i>
     <a href='https://twitter.com/KeyToLifeGarden'>
     <i class="social fa fa-twitter-square fa-2x"></i></a>
      <a href="https://www.facebook.com/keytolifeco" target="_blank"><i class="social fa fa-facebook-square fa-2x"></i></a>
      <a href='http://instagram.com/keytolifegarden' target='_blank'><i class="social fa fa-instagram fa-2x"></i></a>
      <i class="navbar social fa fa-shopping-cart fa-2x"></i>
    </div>
  </div>
  <div id='barnav'>
  <ul>
    <li><form>
        <input id='searched_form' type="text">
        <a id='searched-icon' href='#'><i class="fa fa-search"></i>Search</a>
      </form></li>
    <% if user_signed_in? %>
      <li><a class='c-w' href='#'>Log Out</a></li>
    <% else %>
    `<li><a class='c-w' href='#'>Log In</a></li>
    <% end %>
    <li><a class='c-w' href='#'>Contact Us</a></li>
  </ul>
</div>
</div>
<script>
  $('#search-icon').on('click', function(e){
    var button = $(this)
    if($(button).hasClass('inactive')){
      var button = $(this)
      e.preventDefault();
      $(this).css('float', 'center');
      $(this).removeClass('inactive');
      $('#search_form').animate({
                 width: 'show'
             });
      $(button).removeClass('inactive');
    }else{
      $.ajax({
        url: '/search',
        method: 'get',
      }).done(function(data){
        console.log(data)
      });
    };
  });

  $(window).scroll(function() {
    $('#navbar-container').css('top', $(this).scrollTop() + "px");
});
    var open;

  $('.fa-bars').on('click', function(){
    if(open != true){
        $('#barnav').animate({
          width: 'show'
        });
        open = true;
    }else{
      $('#barnav').animate({
          width: 'hide'
        });
          open = false;
    }
  });

  $('.cart_link').hover(function(){
    $('.current_cart').css('display', 'block')
  }, function(){
    $('.current_cart').css('display', 'none')
  });

  $('#log_in_sign_up_button').on('click', function(){
    $('#shipping_form').toggle();
  });

  $('#log_in_sign_up_button').on('click', function(){
    $('#login_modal_background').css('visibility', 'visible');
    $('#full_modal_title').text('Key-To-Life');
    // $('.logo_image').css('visibility', 'visible');
    // $('.logo').css('display', 'block');
    showLogoImage();
    $('#proceed_modal').slideDown('fast');
  });

  $('.new_customer').hide();

  switchNew();
  switchReturning();

</script>