<h2 class='ta-c'>All Results: <%= @result_length %> results found for <span class='color_red'><%=@search_term %></span></h2>
    <%= notice %>
    <% @all.each do |key, value| %>
      <% if key == 'products' %>
        <% value.each do |product| %>
          <div class='span_3 col products_rows'>
            <%= render partial: 'product_search', locals: {product: product} %>
          </div>
        <% end %>
      <% elsif key == 'categories' %>
        <% value.each do |category| %>
          <div class='span_3 col products_rows'>
            <%= render partial: 'category_search', locals: {category: category} %>
          </div>
        <% end %>
      <% elsif key == 'descriptions' %>
        <% value.each do |prod| %>
          <div class='span_3 col products_rows'>
            <%= render partial: 'product_search', locals: {product: prod} %>
          </div>
        <% end %>
      <% end %>
    <% end %>